{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="d-flex justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-11">
                    <div class="card">
                        <div class="container hh-logo col-5 mt-4">
                            <img class="card-img-top" src="{% static "img/hh_logo.png" %}" alt="hh">
                        </div>
                        <div class="card-body">
                            <form action="" method="POST" class="d-flex justify-content-center">
                                <div class="form">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    {% bootstrap_button button_type="submit" content="Log in" button_class="btn-primary btn-block" %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="d-flex justify-content-center">
                <div class="col-lg-4 col-md-8 col-sm-11">
                    <div class="card">
                        <div class="card-body d-flex justify-content-center">
                            Don't have an account? <a href="{% url "register" %}"><b class="ps-1">Sing Up</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


