{% extends 'base.html' %}
{% load static %}


{% block title %}
    hh profile
{% endblock %}

{% block modal_window %}
    <div class="modal fade show" id="id-modalUserChange" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="general_profile_info">
        <div class="row col-3">
            {% if user_obj.profile.avatar %}
                <img class="avatar img-fluid" src="{{ user_obj.profile.avatar.url }}" alt="user picture">
            {% else %}
                <img class="avatar img-fluid" src="{% static "default_avatar.png" %}">
            {% endif %}
        </div>
        <div class="row mt-3">
            <p class="user_full_name">{{ user_obj.get_full_name }}</p>
            {% if user_obj.profile.phone_number %}
                <p class="user_full_name">{{ user_obj.profile.phone_number }}</p>
            {% endif %}
            <p class="user_full_name">{{ user_obj.email }}</p>
        </div>
        <a class="btn btn-outline-secondary" id="id_user_update" href="{% url "user_update" user_obj.pk %}"
           role="button" data-bs-toggle="modal" data-bs-target="#id-modalUserChange">update
            profile</a>
    </div>

    <div class="container" id="type_related_profile_info">
        {% if user_obj.is_corporate %}
            {% include "partial/corporate_detail.html" %}
        {% else %}
            {% include "partial/employee_detail.html" %}
        {% endif %}
    </div>

{% endblock %}



